.trending-movies-scroller {
    width: 100%;
    height: auto;
    overflow: auto;
    overscroll-behavior-inline: contain;
    padding-block: 2rem;
    padding-inline: 1.3rem;
    scrollbar-width: none;
  }
  
  .trending-movies-scroller::-webkit-scrollbar {
    display: none;
  }
  
  .media-element {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 330px;
    gap: 1.5rem;
  }
  
  .media-container {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.25s;
    position: relative;
    width: 300px;
    
  }
  
  .content-area .content-title {
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    padding-left: 10px;
    
}


.content-title {
    margin-top: 30px;
}


  .media-container:hover {
    transform: scale(1.04);
  }
  
  

  .media-container > img {
    border-radius: 0.5rem;
  }
  
  .media-container p {
    color: black;
    font-size: 7rem;
    font-weight: 700;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: -1.5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 0 0 2rem black;
  }

  